[{kernel,[{error_logger,{file,"log/error.log"}},
          {sync_nodes_mandatory,[node@mnesia_node1]},
          {sync_nodes_timeout,infinity}]},
 {sasl,[{sasl_error_logger,{file,"log/sasl-error.log"}},
        {errlog_type,error},
        {error_logger_mf_dir,"log/sasl"},
        {error_logger_mf_maxbytes,10485760},
        {error_logger_mf_maxfiles,5}]}].